<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <!-- Title -->
	<title>Akademi : CodeIgniter School and Education Management Admin Dashboard Template</title>
	<!-- Meta -->
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="DexignLab" >
	<meta name="robots" content="" >
	<meta name="keywords" content="school, school admin, education, academy, admin dashboard, college, college management, education management, institute, school management, school management system, student management, teacher management, university, university management" >
	<meta name="description" content="Discover Akademi - the ultimate admin dashboard and codeIgniter template. Specially designed for professionals, and for business. Akademi provides advanced features and an easy-to-use interface for creating a top-quality website with School and Education Dashboard" >
	<meta property="og:title" content="Akademi : CodeIgniter School and Education Management Admin Dashboard Template" >
	<meta property="og:description" content="Akademi - the ultimate admin dashboard and codeIgniter template. Specially designed for professionals, and for business. Akademi provides advanced features and an easy-to-use interface for creating a top-quality website with School and Education Dashboard">
	<meta property="og:image" content="https://akademi.dexignlab.com/codeigniter/social-image.png" >
	<meta name="format-detection" content="telephone=no">

	<!-- Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="icon" type="image/png" sizes="16x16" href="https://akademi.dexignlab.com/codeigniter/demo/public/assets/images/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0">
    <link href="https://akademi.dexignlab.com/codeigniter/demo/public/assets/css/style.css" rel="stylesheet">
	
</head>

<body class="body  h-100">
	<div class="authincation d-flex flex-column flex-lg-row flex-column-fluid">
		<div class="login-aside text-center  d-flex flex-column flex-row-auto">
			<div class="d-flex flex-column-auto flex-column pt-lg-40 pt-15">
				<div class="text-center mb-lg-4 mb-2 pt-5 logo">
					<img src="https://akademi.dexignlab.com/codeigniter/demo/public/assets/images/logo-white.png" alt="">
				</div>
				<h3 class="mb-2 text-white">Welcome back!</h3>
				<p class="mb-4">User Experience & Interface Design <br>Strategy SaaS Solutions</p>
			</div>
			<div class="aside-image position-relative" style="background-image:url(https://akademi.dexignlab.com/codeigniter/demo/public/assets/images/background/pic-2.png);">
				<img class="img1 move-1" src="https://akademi.dexignlab.com/codeigniter/demo/public/assets/images/background/pic3.png" alt="">
				<img class="img2 move-2" src="https://akademi.dexignlab.com/codeigniter/demo/public/assets/images/background/pic4.png" alt="">
				<img class="img3 move-3" src="https://akademi.dexignlab.com/codeigniter/demo/public/assets/images/background/pic5.png" alt="">
				
			</div>
		</div>
		<div class="container flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">
			<div class="d-flex justify-content-center h-100 align-items-center">
				<div class="authincation-content style-2">
					<div class="row no-gutters">
						<div class="col-xl-12 tab-content">
							<div id="sign-up" class="auth-form tab-pane fade show active  form-validation">
								<form action="register" method="POST">
									<div class="text-center mb-4">
										<h3 class="text-center mb-2 text-black">Sign up</h3>
										<span>Your Social Campaigns</span>
									</div>
									<div class="row mb-4">
										<div class="col-xl-6 col-6">
											<a href="https://www.google.com/" class="btn btn-outline-light d-block social-bx">
												<!-- SVG for Google -->
												<span class="ms-1 font-w600 label-color">Sign in with Google</span>
											</a>
										</div>
										<div class="col-xl-6 col-6">
											<a href="https://www.apple.com/" class="btn btn-outline-light d-block social-bx">
												<!-- SVG for Apple -->
												<span class="ms-1 font-w600 label-color">Sign in with Apple</span>
											</a>
										</div>
									</div>
									<div class="sepertor">
										<span class="d-block mb-4 fs-13">Or with email</span>
									</div>
									<div class="mb-3">
										<label for="exampleFormControlInput1" class="form-label mb-2 fs-13 label-color font-w500">Username</label>
										<input type="text" class="form-control" id="exampleFormControlInput1" name="username" placeholder="username">
									</div>
									<div class="mb-3">
										<label for="exampleFormControlInput2" class="form-label mb-2 fs-13 label-color font-w500">Email address</label>
										<input type="email" class="form-control" id="exampleFormControlInput2" name="email" placeholder="Email">
									</div>
									<div class="mb-3">
										<label for="exampleFormControlInput3" class="form-label mb-2 fs-13 label-color font-w500">Password</label>
										<input type="password" class="form-control" id="exampleFormControlInput3" name="password" placeholder="Password">
									</div>
									<div class="mb-3">
										<label for="role" class="form-label mb-2 fs-13 label-color font-w500">Role</label>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="role" id="studentRole" value="Student" required>
											<label class="form-check-label" for="studentRole">
												Student
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="role" id="teacherRole" value="Teacher" required>
											<label class="form-check-label" for="teacherRole">
												Teacher
											</label>
										</div>
									</div>
									<a href="javascript:void(0);" class="text-primary float-end mb-4">Forgot Password ?</a>
									<button type="submit" class="btn btn-block btn-primary">Sign me up</button>
								</form>
								<div class="new-account mt-3 text-center">
									<p class="font-w500">Already have an account? <a class="text-primary" href="/page_login">Sign in</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


<!--**********************************
	Scripts
***********************************-->
<!-- Required vendors -->
<script src="https://akademi.dexignlab.com/codeigniter/demo/public/assets/vendor/global/global.min.js"></script>
<script src="https://akademi.dexignlab.com/codeigniter/demo/public/assets/js/custom.min.js"></script>
<script src="https://akademi.dexignlab.com/codeigniter/demo/public/assets/js/dlabnav-init.js"></script>
</body>
</html>